<h2>Employees: </h2>
<div class="form-group">
  <input [(ngModel)]="filterText" />
</div>
<table class="table table-bordered">
  <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>City</th>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>Postal Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees | searchFilter: { name: filterText, city: filterText }">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td *ngIf="isNumber(employee.phone); else elseBlock">{{employee.phone}}</td>
        <ng-template #elseBlock><td>NA</td></ng-template>
        <td>{{employee.address.city}}</td>
        <td>{{employee.address.address_line1}}</td>
        <td>{{employee.address.address_line2}}</td>
        <td>{{employee.address.postal_code}}</td>
      </tr>
    </tbody>
</table>